<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~ekt7be/db_project/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
